* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-appearance: none;
}

body {
    font-family: Helvetica Neue, Arial, sans-serif, Microsoft YaHei;
    color: rgb(116, 117, 118);
    font-size: 14px;
    /* background: rgb(247, 250, 252); */
}
